<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="containers container mt-10">
      <div>
        <% if (animals) { %>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Species</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Cuteness</th>
            </tr>
          </thead>
          <tbody>
            <% for (name of animals) { %>
            <tr>
              <td><%= name.name %></td>
              <td><%= name.species %></td>
              <td><%= name.age %></td>
              <td><%= name.cuteness %></td>
              <td>
                <a href="/destroy/<%= name._id %>"
                  ><button class="btn">
                    <i class="fa text-light fa-trash"></i>
                    <small class="text-light"> Destroy </small>
                  </button></a
                >
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
        <a class="btn btn-dark" href="/button">New Animal</a>
      </div>
    </div>
  </body>
</html>
